/ {
	regulators {
		compatible = "simple-bus";

                reg_1p8v: 1p8v {
                        compatible = "regulator-fixed";
                        regulator-name = "1P8V";
                        regulator-min-microvolt = <1800000>;
                        regulator-max-microvolt = <1800000>;
                        regulator-always-on;
                };

                reg_2p5v: 2p5v {
                        compatible = "regulator-fixed";
                        regulator-name = "2P5V";
                        regulator-min-microvolt = <2500000>;
                        regulator-max-microvolt = <2500000>;
                        regulator-always-on;
                };

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

        /* TC358743, must be ipu=0, csi=0. It does not support virtual channels */
        v4l2_cap_0: v4l2_cap_0 {
                compatible = "fsl,imx6q-v4l2-capture";
                ipu_id = <0>;
                csi_id = <0>;
                mipi_camera = <1>;
                mclk_source = <0>;
                status = "okay";
        };

};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hummingboard_i2c3>;
	status = "okay";

        tc358743_mipi: tc358743_mipi@0f {
                compatible = "tc358743_mipi";
                reg = <0x0f>;
                clocks = <&clks 147>;
                clock-names = "csi_mclk";
                DOVDD-supply = <&reg_1p8v>;
                AVDD-supply = <&reg_2p5v>;
                DVDD-supply = <&reg_1p8v>;
                rst-gpios = <&gpio6 9 1>;
                interrupt-parent = <&gpio2>;
                interrupts = <0 5 0>;
                ipu_id = <0>;
                csi_id = <0>;
                mclk = <22000000>;
                mclk_source = <0>;
                /*pwms = <&pwm3 0 45>;*/
        };
};

&iomuxc {
	hummingboard {
		pinctrl_hummingboard_i2c3: hummingboard-i2c3 {
                        fsl,pins = <
                                MX6QDL_PAD_EIM_D17__I2C3_SCL 0x4001b8b1
                                MX6QDL_PAD_EIM_D18__I2C3_SDA 0x4001b8b1
                        >;
                };
	};
};

/*&pwm3 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm3_1>;
        status = "okay";
};*/
